!!! 5
html(lang='en')
head
    meta(charset='utf-8')
    title Play N Note - Watch. Note. Share
    meta(name='description', content='')
    meta(name='keywords', content='Video Notes. Coursera Notes. Notes.')
    link(href='stylesheets/bootstrap.css', rel='stylesheet')
    link(href='stylesheets/bootstrap-responsive.css', rel='stylesheet')
    link(href='stylesheets/social-buttons.css', rel='stylesheet')
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet')
    link(href='stylesheets/style-hearty.css', rel='stylesheet')
    link(href='stylesheets/custom-hearty.css', rel='stylesheet')
    script(type='text/javascript', src='javascripts/jquery.js')
    script(src='javascripts/bootstrap/bootstrap.min.js')
    script(type='text/javascript', src='javascripts/custom-hearty.js')
    script(type='text/javascript')
      $(function(){
      window.prettyPrint && prettyPrint()
      var logoStyle = $('#logo')[0].style;
      var headingStyle = $('h1')[0].style;
      $('#cp').colorpicker().on('changeColor', function(ev){
      logoStyle.backgroundColor = ev.color.toHex();
      headingStyle.color = ev.color.toHex();
      });
      });
  body
    .container
      .gradient
        .row
          #logo
            img(src='http://playnnote.herokuapp.com/images/playnnote.png')
        .row
          .span12
            .content
              h1 Welcome, Coursera Users!
              p
                | We are working hard to bring to you a new Notes taking App.
                br
                | Leave us your email below to be an early user.
              form.form-horizontal(action='index.html')
                input.input-large(type='email', name='email', placeholder='Enter your email')
                input.btn.btn-large(type='submit', value='Notify me!')
              p
                a.sb.circle.twitter.mytooltip(href='http://twitter.com/playnnote', title='Twitter') Twitter
