doctype html
html(lang='en')
  head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(charset='utf-8')
    title Notes History - Play N Note
    meta(name='description', content='Last Created/Modified Notes')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    // bootstrap & fontawesome
    link(rel='stylesheet', href='/stylesheets/ace/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/ace/font-awesome.min.css')
    // page specific plugin styles
    // text fonts
    link(rel='stylesheet', href='/stylesheets/ace/ace-fonts.css')
    // ace styles
    link(rel='stylesheet', href='/stylesheets/ace/ace.min.css')
    //if lte IE 9
      link(rel='stylesheet', href='/stylesheets/ace/ace-part2.min.css')
    link(rel='stylesheet', href='/stylesheets/ace/ace-skins.min.css')
    link(rel='stylesheet', href='/stylesheets/ace/ace-rtl.min.css')
    //if lte IE 9
      link(rel='stylesheet', href='/stylesheets/ace/ace-ie.min.css')
    // inline styles related to this page
    // ace settings handler
    script(src='/javascripts/ace/ace-extra.min.js')
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lte IE 8
      script(src='/javascripts/ace/html5shiv.js')
      script(src='/javascripts/ace/respond.min.js')
    script
      function createDisplayData() {
      var dataStr = '<div id="lecture-modal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="CodeDialog" aria-hidden="false" style="display: block;">\
      <div class="modal-dialog modal-lg">\
      <div class="modal-content">\
      <div class="modal-header">\
      <button aria-hidden="true" onclick="$(\'#lecture-modal\').remove(); $(\'#lecture-modal-backdrop\').remove()" class="close" type="button">×</button>\
      <i class="fa fa-file-o"></i>\
      <span></span>\
      </div>\
      <div class="modal-body">\
      <div style="background-color: #000;border: 1px solid #DEDEDE;word-wrap: break-word;margin: 0;padding: 2px;color: #F8F8F8;font-size: 13px;line-height: 16px;margin-bottom: 0px">\
      <div class="container-fluid">\
      <div class="row-fluid">\
      <div class="span9">\
      <div class="hero-unit">\
      <div class="row-fluid">\
      <div id="divvid" class="span9">\
      <video id="vid1" class="video-js vjs-default-skin vjs-paused" controls="controls" preload="auto" poster="http://video-js.zencoder.com/oceans-clip.png", data-setup={}>\
      <source src="http://video-js.zencoder.com/oceans-clip.webm" type="video/webm"/>\
      <source src="http://video-js.zencoder.com/oceans-clip.ogv" type="video/ogg"/>\
      <p>Video Playback Not Supported</p>\
      </div>\
      </div>\
      </div>\
      </div>\
      </div>\
      </div>\
      </div>\
      <div style="background-color: #000;color: #F8F8F8;">\
      This would contain the<em>rich</em> and <i>important</i>content.\
      <li> line bullet </li>\
      <ol>Indent in html?\
      <ol>Double <em>indent</em>?</ol>\
      </ol>\
      <p></p>\
      </div>\
      </div>\
      </div>\
      </div>\
      </div>\
      </div>\
      <div id="lecture-modal-backdrop" class="modal-backdrop fade in"></div>';
      $(dataStr).appendTo('body');
      //showCourseVideos();
      valw = document.getElementById('divvid').offsetWidth;
      $("#vid1").width(valw).height(0.6*valw);
      }
      vid = document.getElementById("vid1");
  body.no-skin
    #navbar.navbar.navbar-default
      script(type='text/javascript')
        try{ace.settings.check('navbar' , 'fixed')}catch(e){}
      #navbar-container.navbar-container
        button#menu-toggler.navbar-toggle.menu-toggler.pull-left(type='button')
          span.sr-only Toggle sidebar
          span.icon-bar
          span.icon-bar
          span.icon-bar
        .navbar-header.pull-left
          a.navbar-brand(href='#')
            small
              // i class="fa"></i
              img(src='')
              | Play N Note
        .navbar-buttons.navbar-header.pull-right(role='navigation')
          ul.nav.ace-nav
            li.light-blue
              a.dropdown-toggle(data-toggle='dropdown', href='#')
                img.nav-user-photo(src='../assets/avatars/user.jpg', alt="Ashish's Photo")
                span.user-info
                  small Welcome,
                  | Ashish
                i.ace-icon.fa.fa-caret-down
              ul.user-menu.dropdown-menu-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
                li
                  a(href='/logout')
                    i.ace-icon.fa.fa-power-off
                    | Logout
      // /.navbar-container
    #main-container.main-container
      script(type='text/javascript')
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      #sidebar.sidebar.responsive
        script(type='text/javascript')
          try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
        ul.nav.nav-list
          li.active
            a(href='\\')
              span.menu-text  Timeline 
            b.arrow
        // /.nav-list
        #sidebar-collapse.sidebar-toggle.sidebar-collapse
          i.ace-icon.fa.fa-angle-double-left(data-icon1='ace-icon fa fa-angle-double-left', data-icon2='ace-icon fa fa-angle-double-right')
        script(type='text/javascript')
          try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
      .main-content
        #breadcrumbs.breadcrumbs
          script(type='text/javascript')
            try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
          ul.breadcrumb
            li
              i.ace-icon.fa.fa-home.home-icon
              a(href='#') Home
            li.active Timeline
          // /.breadcrumb
          //
             div class="nav-search" id="nav-search">
          // /.nav-search
        .page-content
          .page-header
            h1
              | Notes History
              small
                i.ace-icon.fa.fa-angle-double-right
                | Last Created/Modified Notes
          // /.page-header
          .row
            .col-xs-12
              // PAGE CONTENT BEGINS
              #timeline-1
                .row
                  // div class="col-xs-12 col-sm-10 col-sm-offset-1"
                  .timeline-container
                    .timeline-label
                      // iterate through it
                      span.label.label-primary.arrowed-in-right.label-lg
                        b Tuesday Jun 3
                    .timeline-items
                      // items within the timeline
                      .timeline-item.clearfix
                        .widget-box.transparent
                          .widget-body
                            #accordion.accordion-style1.panel-group
                              .panel.panel-default
                                .panel-heading
                                  h4.panel-title
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse0one')
                                      i.ace-icon.fa.fa-angle-down.bigger-110(data-icon-hide='ace-icon fa fa-angle-down', data-icon-show='ace-icon fa fa-angle-right')
                                      | First Course &gt; First Video &gt; Lecture Note
                                      // span class="widget-toolbar no-border"
                                      i.ace-icon.fa.fa-clock-o.bigger-110
                                      | 10:20
                                      // /span
                                #collapse0one.panel-collapse.collapse.in
                                  .panel-body
                                    | This would contain the
                                    em rich
                                    | and
                                    i important
                                    | content.
                                    li  line bullet 
                                    ol
                                      | Indent in html?
                                      ol
                                        | Double
                                        em indent
                                        | ?
                                    p
                                    p
                                    div
                                      a.blue(href='#lecture-table', onclick='createDisplayData()', role='button', data-toggle='modal') Play Video
                              .panel.panel-default
                                .panel-heading
                                  h4.panel-title
                                    a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse1one')
                                      i.ace-icon.fa.fa-angle-right.bigger-110(data-icon-hide='ace-icon fa fa-angle-down', data-icon-show='ace-icon fa fa-angle-right')
                                      | Course0 &gt; Video0 &gt; Lecture Note
                                      // span class="widget-toolbar no-border"
                                      i.ace-icon.fa.fa-clock-o.bigger-110
                                      | 0:0
                                      // /span
                                #collapse1one.panel-collapse.collapse
                                  .panel-body
                                    | Note number 0 has these details
                                    p
                                    div
                                      a.blue(href='#lecture-table', onclick='createDisplayData()', role='button', data-toggle='modal') Play Video
                              .panel.panel-default
                                .panel-heading
                                  h4.panel-title
                                    a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse2one')
                                      i.ace-icon.fa.fa-angle-right.bigger-110(data-icon-hide='ace-icon fa fa-angle-down', data-icon-show='ace-icon fa fa-angle-right')
                                      | Course1 &gt; Video1 &gt; Lecture Note
                                      // span class="widget-toolbar no-border"
                                      i.ace-icon.fa.fa-clock-o.bigger-110
                                      | 5:10
                                      // /span
                                #collapse2one.panel-collapse.collapse
                                  .panel-body
                                    | Note number 1 has these details
                                    p
                                    div
                                      a.blue(href='#lecture-table', onclick='createDisplayData()', role='button', data-toggle='modal') Play Video
                    // /.timeline-items
                  // /.timeline-container
                  .timeline-container
                    .timeline-label
                      // iterate through it
                      span.label.label-primary.arrowed-in-right.label-lg
                        b Sunday, Jun 1
                    .timeline-items
                      // items within the timeline
                      .timeline-item.clearfix
                        .widget-box.transparent
                          .widget-body
                            #accordion.accordion-style1.panel-group
                              .panel.panel-default
                                .panel-heading
                                  h4.panel-title
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse0two')
                                      i.ace-icon.fa.fa-angle-down.bigger-110(data-icon-hide='ace-icon fa fa-angle-down', data-icon-show='ace-icon fa fa-angle-right')
                                      | First Course &gt; First Video &gt; Lecture Note
                                      // span class="widget-toolbar no-border"
                                      i.ace-icon.fa.fa-clock-o.bigger-110
                                      | 10:20
                                      // /span
                                #collapse0two.panel-collapse.collapse.in
                                  .panel-body
                                    | This would contain the
                                    em rich
                                    | and
                                    i important
                                    | content.
                                    li  line bullet 
                                    ol
                                      | Indent in html?
                                      ol
                                        | Double
                                        em indent
                                        | ?
                                    p
                                    p
                                    div
                                      a.blue(href='#lecture-table', onclick='createDisplayData()', role='button', data-toggle='modal') Play Video
                              .panel.panel-default
                                .panel-heading
                                  h4.panel-title
                                    a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse1two')
                                      i.ace-icon.fa.fa-angle-right.bigger-110(data-icon-hide='ace-icon fa fa-angle-down', data-icon-show='ace-icon fa fa-angle-right')
                                      | Course0 &gt; Video0 &gt; Lecture Note
                                      // span class="widget-toolbar no-border"
                                      i.ace-icon.fa.fa-clock-o.bigger-110
                                      | 0:0
                                      // /span
                                #collapse1two.panel-collapse.collapse
                                  .panel-body
                                    | Note number 0 has these details
                                    p
                                    div
                                      a.blue(href='#lecture-table', onclick='createDisplayData()', role='button', data-toggle='modal') Play Video
                              .panel.panel-default
                                .panel-heading
                                  h4.panel-title
                                    a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse2two')
                                      i.ace-icon.fa.fa-angle-right.bigger-110(data-icon-hide='ace-icon fa fa-angle-down', data-icon-show='ace-icon fa fa-angle-right')
                                      | Course1 &gt; Video1 &gt; Lecture Note
                                      // span class="widget-toolbar no-border"
                                      i.ace-icon.fa.fa-clock-o.bigger-110
                                      | 5:10
                                      // /span
                                #collapse2two.panel-collapse.collapse
                                  .panel-body
                                    | Note number 1 has these details
                                    p
                                    div
                                      a.blue(href='#lecture-table', onclick='createDisplayData()', role='button', data-toggle='modal') Play Video
                    // /.timeline-items
                  // /.timeline-container
                  .timeline-container
                    .timeline-label
                      // iterate through it
                      span.label.label-primary.arrowed-in-right.label-lg
                        b Sunday, May 24
                    .timeline-items
                      // items within the timeline
                      .timeline-item.clearfix
                        .widget-box.transparent
                          .widget-body
                            #accordion.accordion-style1.panel-group
                              .panel.panel-default
                                .panel-heading
                                  h4.panel-title
                                    a.accordion-toggle(data-toggle='collapse', data-parent='#accordion', href='#collapse0three')
                                      i.ace-icon.fa.fa-angle-down.bigger-110(data-icon-hide='ace-icon fa fa-angle-down', data-icon-show='ace-icon fa fa-angle-right')
                                      | First Course &gt; First Video &gt; Lecture Note
                                      // span class="widget-toolbar no-border"
                                      i.ace-icon.fa.fa-clock-o.bigger-110
                                      | 10:20
                                      // /span
                                #collapse0three.panel-collapse.collapse.in
                                  .panel-body
                                    | This would contain the
                                    em rich
                                    | and
                                    i important
                                    | content.
                                    li  line bullet 
                                    ol
                                      | Indent in html?
                                      ol
                                        | Double
                                        em indent
                                        | ?
                                    p
                                    p
                                    div
                                      a.blue(href='#lecture-table', onclick='createDisplayData()', role='button', data-toggle='modal') Play Video
                              .panel.panel-default
                                .panel-heading
                                  h4.panel-title
                                    a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse1three')
                                      i.ace-icon.fa.fa-angle-right.bigger-110(data-icon-hide='ace-icon fa fa-angle-down', data-icon-show='ace-icon fa fa-angle-right')
                                      | Course0 &gt; Video0 &gt; Lecture Note
                                      // span class="widget-toolbar no-border"
                                      i.ace-icon.fa.fa-clock-o.bigger-110
                                      | 0:0
                                      // /span
                                #collapse1three.panel-collapse.collapse
                                  .panel-body
                                    | Note number 0 has these details
                                    p
                                    div
                                      a.blue(href='#lecture-table', onclick='createDisplayData()', role='button', data-toggle='modal') Play Video
                              .panel.panel-default
                                .panel-heading
                                  h4.panel-title
                                    a.accordion-toggle.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse2three')
                                      i.ace-icon.fa.fa-angle-right.bigger-110(data-icon-hide='ace-icon fa fa-angle-down', data-icon-show='ace-icon fa fa-angle-right')
                                      | Course1 &gt; Video1 &gt; Lecture Note
                                      // span class="widget-toolbar no-border"
                                      i.ace-icon.fa.fa-clock-o.bigger-110
                                      | 5:10
                                      // /span
                                #collapse2three.panel-collapse.collapse
                                  .panel-body
                                    | Note number 1 has these details
                                    p
                                    div
                                      a.blue(href='#lecture-table', onclick='createDisplayData()', role='button', data-toggle='modal') Play Video
                    // /.timeline-items
                  // /.timeline-container
                  // /div
              // PAGE CONTENT ENDS
            // /.col
          // /.row
        // /.page-content
      // /.main-content
      .footer
        .footer-inner
          .footer-content
            span.bigger-120
              span.blue.bolder Play n Note
              | &copy; 2014
            span.action-buttons
              a(href='http://twitter.com/playnnote')
                i.ace-icon.fa.fa-twitter-square.light-blue.bigger-150
              //
                 a href="#">
      a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse(href='#')
        i.ace-icon.fa.fa-angle-double-up.icon-only.bigger-110
    // /.main-container
    // basic scripts
    //if !IE
    script(type='text/javascript')
      window.jQuery || document.write("<script src='/javascripts/ace/jquery.min.js'>"+"<"+"/script>");
    // <![endif]
    //if IE
      script(type='text/javascript')
        window.jQuery || document.write("<script src='/javascripts/ace/jquery1x.min.js'>"+"<"+"/script>");
    script(type='text/javascript')
      if('ontouchstart' in document.documentElement) document.write("<script src='/javascripts/ace/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    script(src='/javascripts/ace/bootstrap.min.js')
    // page specific plugin scripts
    // ace scripts
    script(src='/javascripts/ace/ace-elements.min.js')
    script(src='/javascripts/ace/ace.min.js')
    // inline scripts related to this page
    script(type='text/javascript')
      jQuery(function($) {
      $('[data-toggle="buttons"] .btn').on('click', function(e){
      var target = $(this).find('input[type=radio]');
      var which = parseInt(target.val());
      $('[id*="timeline-"]').addClass('hide');
      $('#timeline-'+which).removeClass('hide');
      });
      });
