head
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(charset='utf-8')
      title Play N Note - Recent History
      meta(name='description', content='Coursera Notes. Video Notes. Play N Note.')
      meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
      
      link(rel='stylesheet', href='stylsheets/ace/bootstrap.min.css')
      link(rel='stylesheet', href='stylsheets/ace/font-awesome.min.css')
      link(rel='stylesheet', href='stylsheets/ace/ace-fonts.css')
      link(rel='stylesheet', href='stylsheets/ace/ace.min.css')
      //if lte IE 9
        link(rel='stylesheet', href='stylsheets/ace/ace-part2.min.css')
      link(rel='stylesheet', href='stylsheets/ace/ace-skins.min.css')
      link(rel='stylesheet', href='stylsheets/ace/ace-rtl.min.css')
      //if lte IE 9
        link(rel='stylesheet', href='stylsheets/ace/ace-ie.min.css')
      script(src='javascripts/ace/ace-extra.min.js')
      //
         HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries 
      //if lte IE 8
        script(src='javascripts/ace/html5shiv.js')
        script(src='javascripts/ace/respond.min.js')
