<!-- #section:basics/sidebar{{#page.horizontal-menu}}.horizontal{{/page.horizontal-menu}} -->
<div id="sidebar" class="sidebar   responsive">

	<script type="text/javascript">
	try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
	</script>

	{{> layout.sidebar.shortcuts}}

	<ul class="nav nav-list">
		{{#layout.sidebar_items}} {{! the item array}}
			{{> layout.sidebar.item}} {{! the item partial template}}
		{{/layout.sidebar_items}}
	</ul><!-- /.nav-list -->

	<!-- #section:basics/sidebar.layout.minimize -->
	<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
		<i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
	</div>
	<!-- /section:basics/sidebar.layout.minimize -->

	<script type="text/javascript">
	try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
	</script>
</div>
<!-- /section:basics/sidebar{{#page.horizontal-menu}}.horizontal{{/page.horizontal-menu}} -->