<div id="lecture-modal" class="modal fade code-modal in" tabindex="-1" role="dialog" aria-labelledby="CodeDialog" aria-hidden="false" style="display: block;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button> 
                <!--i class="fa fa-file-o"></i-->
            </div>
            <div class="modal-body">
              <!--
              note-content {
                  /* original is white background with no border */
                  background-color: #F8F8FF;
                  border: 1px solid #DEDEDE;
                  word-wrap: break-word;
                  margin: 0;
                  padding: 10px;
                  color: #000;
                  font-size: 13px;
                  line-height: 16px;
                  margin-bottom: 20px
              }
            -->
              <div class="note-content">
                {{#lecture_video}}
                {{#note_details}}
              </div>
            </div>
        </div>
    </div>
</div>