<div class="row">
<!--div class="col-xs-12 col-sm-10 col-sm-offset-1"-->


<!-- #section:pages/timeline -->
	<div class="timeline-container">

		<div class="timeline-label"> <!--iterate through it -->
		<!-- #section:pages/timeline.label -->
			<span class="label label-primary arrowed-in-right label-lg">
				<b>Today</b>
			</span>
			<!-- /section:pages/timeline.label -->
		</div>

		<div class="timeline-items"> <!--items within the timeline -->
		     <!-- #section:pages/timeline.item -->
			<div class="timeline-item clearfix">
			    <!-- #section:pages/timeline.info -->
				<!-- /section:pages/timeline.info -->		
				<div class="widget-box transparent">
					<div class="widget-body">
						<div id="accordion" class="accordion-style1 panel-group">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
											<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
											&nbsp;Course name > Lecture Name > Lecture Note&nbsp;&nbsp;
											<!--span class="widget-toolbar no-border"-->
												<i class="ace-icon fa fa-clock-o bigger-110"></i>
												16:22
											<!--/span-->
										</a>
									</h4>
								</div>


								<div class="panel-collapse collapse in" id="collapseOne">
									<div class="panel-body">
										This would contain the <em>rich</em> and <i>important</i> content.
										<li> line bullet </li>
										<ol> Indent in html?
											<ol> Double <em>indent</em> ? </ol>
										</ol>
										<p></p>
										<div>
											<a href="#lecture-table" onclick="createDisplayData()" role="button" class="blue" data-toggle="modal">Play Video</a>
										</div>
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
											<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
											&nbsp;Group Item #2
										</a>
									</h4>
								</div>

								<div class="panel-collapse collapse" id="collapseTwo">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
									</div>
								</div>
							</div>

							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
											<i class="ace-icon fa fa-angle-right bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
											&nbsp;Group Item #3
										</a>
									</h4>
								</div>

								<div class="panel-collapse collapse" id="collapseThree">
									<div class="panel-body">
										Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			 <!-- /section:pages/timeline.item -->
		</div><!-- /.timeline-items -->
	</div><!-- /.timeline-container -->
<!--/div-->
</div>