<div class="row">
<!--div class="col-xs-12 col-sm-10 col-sm-offset-1"-->


<!-- #section:pages/timeline -->
	<div class="timeline-container">

		<div class="timeline-label"> <!--iterate through it -->
		<!-- #section:pages/timeline.label -->
			<span class="label label-primary arrowed-in-right label-lg">
				<b>Today</b>
			</span>
			<!-- /section:pages/timeline.label -->
		</div>

		<div class="timeline-items"> <!--items within the timeline -->
		     <!-- #section:pages/timeline.item -->
			<div class="timeline-item clearfix">
			    <!-- #section:pages/timeline.info -->
				<!-- /section:pages/timeline.info -->		
				<div class="widget-box transparent">
					<div class="widget-body">
						<div id="accordion" class="accordion-style1 panel-group">
							{{#first_note}}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse0">
											<i class="ace-icon fa fa-angle-down bigger-110" data-icon-hide="ace-icon fa fa-angle-down" data-icon-show="ace-icon fa fa-angle-right"></i>
											&nbsp;{{course_name}} > {{video_name}} > Lecture Note&nbsp;&nbsp;
											<!--span class="widget-toolbar no-border"-->
												<i class="ace-icon fa fa-clock-o bigger-110"></i>
												{{video_timespan}}
											<!--/span-->
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse in" id="collapseOne">
									<div class="panel-body">
										{{notes_details}}
										<p></p>
										<div>
											<a href="#lecture-table" onclick="createDisplayData()" role="button" class="blue" data-toggle="modal">Play Video</a>
										</div>
									</div>
								</div>
							</div>
							{{/first_note}}
							{{#more_notes}}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse" + {{note_number}}>
											{{{notes_details}}}
										</a>
									</h4>
								</div>
								<div class="panel-collapse collapse" id="collapseTwo">
									<div class="panel-body">
										{{notes_details}}
										<p></p>
										<div>
											<a href="#lecture-table" onclick="createDisplayData()" role="button" class="blue" data-toggle="modal">Play Video</a>
										</div>
									</div>
								</div>
							</div>
							{{/more_notes}}
						</div>
					</div>
				</div>
			</div>
			 <!-- /section:pages/timeline.item -->
		</div><!-- /.timeline-items -->
	</div><!-- /.timeline-container -->
<!--/div-->
</div>